@model IEnumerable<ToDoList.Models.MyTask>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a>Список задач</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Номер
            </th>
            <th>
                Название задачи
            </th>
            <th>
                Приоритет
            </th>
            <th>
                Статус
            </th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-outline-primary">Открыть</button></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-outline-primary">Детали</button></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-outline-primary">Удалить</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
